.loadings {
  grid-column: 1 / 2;
  grid-row: 6 / 7;

  &__variant1 {
    position: relative;
    margin: 2rem auto;
    width: 200px;
    text-align: center;

    &__dot {
      position: relative;
      margin-bottom: 1rem;
      width: 30px;
      height: 30px;
      background-color: var(--secondary_color_1);
      animation-name: loadingDot;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &__label {
      color: var(--secondary_color_1);
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }

  &__variant2 {
    text-align: center;

    &__bar {
      position: relative;
      margin-bottom: 1rem;
      width: 319px;
      max-width: 319px;
      height: 15px;
      background-color: var(--secondary_color_1);
      animation-name: loadingBar;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 319px;
        max-width: 319px;
        height: 15px;
        background-color: var(--neutral_color_1);
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        z-index: -1;
      }
    }

    &__label {
      color: var(--secondary_color_1);
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

@keyframes loadingDot {
  0% {
    transform: translateX(170px);
    -webkit-transform: translateX(170px);
    -moz-transform: translateX(170px);
    -ms-transform: translateX(170px);
    -o-transform: translateX(170px);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes loadingBar {
  0% {
    width: 0px;
  }

  70% {
    width: 319px;
  }

  100% {
    width: 319px;
  }
}
