.themes {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  background-color: var(--background_color);
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;

  &__hamburger {
    display: none;
  }

  &__collapse {
    display: flex;
  }

  .toggle-theme {
    margin-bottom: 0;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    z-index: 3;
    box-shadow: 0 3px 15px 0 rgba(#24292e, 0.3);

    + .wrapper {
      padding-top: 100px;
    }
  }

  &__item {
    display: flex;
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    border: 6px solid #ffffff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 1px 1px 10px 0px rgba(#24292e, 0.3);
    cursor: pointer;

    .color1 {
      border-radius: 100px 0 0 100px;
      -webkit-border-radius: 100px 0 0 100px;
      -moz-border-radius: 100px 0 0 100px;
      -ms-border-radius: 100px 0 0 100px;
      -o-border-radius: 100px 0 0 100px;
    }

    .color2 {
      border-radius: 0 100px 100px 0;
      -webkit-border-radius: 0 100px 100px 0;
      -moz-border-radius: 0 100px 100px 0;
      -ms-border-radius: 0 100px 100px 0;
      -o-border-radius: 0 100px 100px 0;
    }

    .color1,
    .color2 {
      width: 50%;
      height: 100%;
    }

    &.theme1 {
      .color1 {
        background-color: #264653;
      }

      .color2 {
        background-color: #2a9d8f;
      }
    }

    &.theme2 {
      .color1 {
        background-color: #e63946;
      }

      .color2 {
        background-color: #f1faee;
      }
    }

    &.theme3 {
      .color1 {
        background-color: #ef476f;
      }

      .color2 {
        background-color: #ffd166;
      }
    }

    &.theme4 {
      .color1 {
        background-color: #ffbe0b;
      }

      .color2 {
        background-color: #fb5607;
      }
    }

    &.theme5 {
      .color1 {
        background-color: #05668d;
      }

      .color2 {
        background-color: #028090;
      }
    }

    &.theme-light,
    &.theme-dark {
      justify-content: center;
      align-items: center;

      svg {
        width: 70%;

        path {
          fill: var(--text_color);
        }
      }
    }
  }
}

.show {
  display: block !important;
  animation-name: showThemes;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@media (max-width: 768px) {
  .themes {
    justify-content: space-between;

    &__hamburger {
      display: block;
      width: 35px;
      height: 35px;
    }

    &__collapse {
      display: none;
      position: absolute;
      top: 5rem;
      left: 1rem;
      z-index: 1;
    }

    .toggle-theme {
      width: 78px;
    }

    .inputs-toggle__label {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .themes {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

@keyframes showThemes {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
    -webkit-transform: translateY(-3rem);
    -moz-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    -o-transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
